[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==5.2.1"
factory-boy = "==2.12.0"
flake8 = "==3.8.3"
black = "==19.10b0"

[packages]
django = "==3.0.2"
psycopg2 = "==2.8.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
